<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="/css/style.css"/>
  <title>Shoos</title>
<h3><a href="/shoe/new">New Order</a><br><br><h3>
</head>
<body>
<%= yield %>
</body>
</html>